.file {
  display: inline-block;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 0.375rem;
  border: 1px solid #0077ff;
  color: #0077ff;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
.file.active {
  background-color: #0077ff;
  color: white;
}

.comparison {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comparison > svg {
  opacity: 0.3;
}
.comparison.invert {
  margin: 1.5rem 0;
  padding: 1.5rem;
  border-radius: 10px;
  color: #f3f4f6;
  background: #1e2126;
}
