.file {
  display: inline-block;
  font-size: 0.9em;
  padding: 1px 6px;
  border-radius: 0.375rem;
  border: 1px solid #0077ff;
  color: #0077ff;
  font-weight: 600;
  cursor: default;
  user-select: none;
}
.file.active {
  background-color: #0077ff;
  color: white;
}

.comparison {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.comparison > svg {
  opacity: 0.3;
}

.optimization {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.5rem 1rem;
  background: linear-gradient(27deg, #3d3d3d, #000000);
  color: #e3e3e3;
  border-radius: 0.375rem;
  font-weight: 300;
}

:global(.dark) .optimization {
  background: linear-gradient(27deg, #3d3d3d, #252525);
}
