pnpm-lock.yaml
.changeset/*.md
generated-page-map.ts

examples/swr-site/nextra-remote-filepaths/*.json

examples/docs/content/features/mdx.mdx
docs/app/docs/guide/advanced/latex/page.mdx
docs/app/docs/guide/advanced/mermaid/page.mdx
docs/app/docs/guide/advanced/npm2yarn/page.mdx
docs/app/docs/guide/built-ins/cards/page.mdx
docs/app/docs/guide/ssg/page.mdx
docs/app/docs/guide/syntax-highlighting/page.mdx
