pnpm-lock.yaml
.changeset/*.md
CHANGELOG.md
generated-page-map.ts

examples/swr-site/nextra-remote-filepaths/*.json

examples/docs/src/content/features/mdx.mdx
docs/app/docs/advanced/latex/page.mdx
docs/app/docs/advanced/mermaid/page.mdx
docs/app/docs/advanced/npm2yarn/page.mdx
docs/app/docs/built-ins/cards/page.mdx
docs/app/docs/guide/ssg/page.mdx
docs/app/docs/guide/syntax-highlighting/page.mdx

# contains mdx comments
docs/app/docs/blog-theme/start/page.mdx
