@import 'nextra-theme-docs/style.css';
@import 'tailwindcss';
/* Whitelist Tailwind CSS classes from <Bleed> TSDoc examples */
@source inline('aspect-video');
@source inline('py-10');

@variant dark (&:where(.dark *));

@theme {
}

body {
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
}

.home-content p {
  margin-top: 1.5em;
  line-height: 1.75em;
}

code.text-\[\.9em\] {
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .home-content .hide-medium {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .home-content p {
    font-size: 0.9rem;
  }

  .home-content .hide-small {
    display: none;
  }
}

/* adds labels to the sidebar links */
.badge-new {
  @apply dark:after:border-blue-200/30 dark:after:bg-blue-900/30 dark:after:text-blue-200;
  &:after {
    @apply ms-1.5 rounded-full border border-blue-200 bg-blue-100 px-1.5 text-xs font-bold text-blue-900 content-["New"];
  }
}
