.nextra-scrollbar {
  scrollbar-gutter: stable;
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 16px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0);
    border-radius: 20px;
  }
  &:hover::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.2);
    &:hover {
      box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.4);
    }
  }
}

.nextra-sidebar-container.with-menu.nextra-scrollbar::-webkit-scrollbar-track {
  margin-bottom: 76px;
}

@media (max-width: 767px) {
  .nextra-container .nextra-scrollbar {
    scrollbar-gutter: auto;
  }
}

/* Hide scrollbar */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
