@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nextra/styles/variables.css';
@import 'nextra/styles/code-block.css';
@import 'nextra/styles/subheading-anchor.css';
@import './hamburger.css';
@import './scrollbar.css';
@import './typesetting-article.css';

html {
  @apply antialiased text-base;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply w-full bg-white dark:bg-dark dark:text-gray-100;
}

a,
summary,
button,
input,
[tabindex]:not([tabindex='-1']) {
  @apply outline-none;
  &:focus-visible {
    @apply ring-2 ring-primary-200 ring-offset-1 ring-offset-primary-300;
  }
}

a, summary {
  @apply rounded;
}

.nextra-sidebar-container {
  &.open {
    transition: transform .8s cubic-bezier(.52, .16, .04, 1), opacity 0s linear 1s;
  }
  height: calc(100vh - var(--nextra-navbar-height));
  &.with-menu::-webkit-scrollbar-track {
    margin-bottom: var(--nextra-menu-height);
  }
  @media (max-width: 767px) {
    @apply top-0 overscroll-contain bg-white dark:bg-dark opacity-0 h-screen;
    height: -webkit-fill-available;
    transform: translate3d(0, -110%, 0);
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;
    padding-top: calc(var(--nextra-navbar-height) + var(--nextra-banner-height));
    body.nextra-banner-hidden & {
      padding-top: var(--nextra-navbar-height);
    }
    &.open {
      @apply opacity-100;
      transform: translate3d(0, 0, 0);
      transition: transform .8s cubic-bezier(.52, .16, .04, 1);
    }
    &::-webkit-scrollbar-track {
      margin-top: calc(var(--nextra-navbar-height) + var(--nextra-banner-height));
      body.nextra-banner-hidden & {
        margin-top: var(--nextra-navbar-height);
      }
    }
  }
}

@media (max-width: 767px) {
  article:before {
    @apply content-[''] fixed inset-0 pointer-events-none bg-black dark:bg-neutral-900 z-[14] opacity-0;
    .nextra-sidebar-container.open ~ & {
      @apply opacity-80 duration-1000 transition-opacity motion-reduce:transition-none;
    }
  }
}

.nextra-toc > .div, .nextra-sidebar-container {
  mask-image: linear-gradient(to bottom, transparent, #000 20px), linear-gradient(to left, #000 10px, transparent 10px);
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-search ul {
    @apply backdrop-blur-lg bg-white/70 dark:bg-dark/80;
  }
  .nextra-nav-container-blur {
    @apply backdrop-blur-md bg-white/[.85] dark:!bg-dark/80;
  }
}

input[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }
}
