article.nextra-body-typesetting-article {
  font-size: 17px;
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
  h1 {
    @apply nx-mt-6 nx-mb-4 nx-text-center;
    font-size: 2.5rem;
  }
  h2 {
    @apply nx-border-none;
  }
  a {
    @apply nx-no-underline hover:nx-underline;
  }
  p {
    @apply nx-leading-8;
  }
  code {
    @apply nx-border-none dark:nx-bg-neutral-700;
  }
  pre code {
    @apply dark:nx-bg-transparent;
  }
  .subheading-anchor + a {
    @apply nx-no-underline hover:nx-no-underline after:nx-hidden;
  }
}
