@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nextra/styles/variables.css';
@import 'nextra/styles/code-block.css';
@import 'nextra/styles/subheading-anchor.css';
@import 'nextra/styles/scrollbar.css';
@import 'nextra/styles/steps.css';
@import 'nextra/styles/cards.css';

html {
  @apply nx-scroll-pt-5;
}

body {
  @apply nx-px-4;
}

article {
  @apply nx-mx-auto nx-block nx-pt-20 nx-pb-32;
}

article img {
  @apply nx-mx-auto;
}

h1 {
  letter-spacing: -0.03em;
}

.nx-prose code {
  &:before,
  &:after {
    @apply nx-hidden;
  }
  .line {
    @apply nx-font-normal;
  }
}

.nx-prose .nextra-callout p {
  @apply nx-m-0;
}

.footnotes a[data-footnote-backref] {
  font-family: initial;
}
