@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nextra/styles/code-block.css';
@import 'nextra/styles/subheading-anchor.css';
@import 'nextra/styles/scrollbar.css';
@import 'nextra/styles/steps.css';
@import 'nextra/styles/cards.css';

html {
  @apply _scroll-pt-5;
}

body {
  @apply !_bg-[rgb(var(--nextra-bg))];
}

article {
  @apply _mx-auto _block _pt-20 _pb-32;
  img {
    @apply _mx-auto;
  }
}

h1 {
  letter-spacing: -0.03em;
}

._prose code {
  &:before,
  &:after {
    @apply _hidden;
  }
  .line {
    @apply _font-normal;
  }
}

._prose .nextra-callout p {
  @apply _m-0;
}

.footnotes a[data-footnote-backref] {
  font-family: initial;
}

.nextra-tag {
  @apply _select-none _rounded-md _bg-gray-200 _px-1 _text-sm _text-gray-400 _transition-colors;
  @apply dark:_bg-gray-600 dark:_text-gray-300;

  &:hover {
    @apply _bg-gray-300 _text-gray-500;
    @apply dark:_bg-gray-700 dark:_text-gray-200;
  }
}
