@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-4;
}

article {
  @apply mx-auto block pt-20 pb-32;
}

article img {
  @apply mx-auto;
}

h1 {
  letter-spacing: -0.03em;
}

code {
  @apply rounded-md border border-black border-opacity-5 bg-black bg-opacity-5;
  font-size: 0.9em;
  padding: 2px 0.25em;
  box-decoration-break: clone;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  .dark & {
    @apply border-white border-opacity-10 bg-white bg-opacity-10;
  }
}
pre {
  /* content-visibility: auto; */
  contain: paint;
  @apply mt-6 mb-4 overflow-x-auto rounded-xl bg-slate-100 p-4 font-medium subpixel-antialiased;
  @apply dark:bg-gray-300 dark:bg-opacity-10;
  code {
    line-height: 1.25rem;
    @apply relative inline-block min-w-full rounded-none border-none bg-transparent p-0 text-sm text-current dark:bg-transparent;
    .line.highlighted {
      @apply before:pointer-events-none before:absolute before:-inset-x-4 before:block before:h-5 before:select-none before:bg-gray-500 before:bg-opacity-10;
      span {
        @apply relative;
      }
    }
  }
}
a code {
  @apply text-current no-underline;
}
[data-nextra-code][data-filename] {
  @apply relative block;

  &::before {
    content: attr(data-filename);
    position: absolute;
    @apply absolute top-0 z-[1] w-full truncate rounded-t-xl bg-slate-200 py-2 px-4 text-xs text-gray-700 dark:bg-gray-700 dark:text-gray-200;
  }
  pre {
    @apply pt-12;
  }
}

:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #f00;
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}
