@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nextra/styles/variables.css';
@import 'nextra/styles/code-blocks.css';
@import 'nextra/styles/subheading-anchor.css';

body {
  @apply px-4;
}

article {
  @apply mx-auto block pt-20 pb-32;
}

article img {
  @apply mx-auto;
}

h1 {
  letter-spacing: -0.03em;
}

.prose code {
  &:before,
  &:after {
    @apply hidden;
  }
  .line {
    @apply font-normal;
  }
}
