@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply px-4;
}

article {
  @apply block mx-auto pt-20 pb-32;
}

article img {
  @apply mx-auto;
}

a.subheading {
  text-decoration: none !important;
  color: unset !important;
}

h1 {
  letter-spacing: -0.03em;
}

.subheading-anchor {
  margin-top: -2em;
  display: inline-block;
  position: absolute;
  width: 1px;
}

.subheading-anchor + a:hover .anchor-icon {
  opacity: 1;
}
.anchor-icon {
  opacity: 0;
  @apply ml-2 text-gray-500;
}

.meta-line {
  @apply flex justify-end items-center mb-8;
}
.meta {
  @apply flex-1 text-gray-500 mr-8;
}
.meta .tag {
  @apply inline-block px-1 rounded-md mr-1 text-sm leading-5 no-underline bg-gray-200 text-gray-600 select-none;
}
.dark .meta .tag {
  @apply bg-gray-700 text-gray-100;
}

.meta .tag:hover {
  @apply text-gray-800;
}
.meta .tag:active {
  @apply bg-gray-400;
}
.meta-line .meta-back {
  @apply text-gray-600;
}

.nav-line {
  @apply flex justify-end items-center flex-row mb-8 text-right;
}
.nav-line .nav-link {
  @apply ml-3 text-gray-600;
}
.nav-line span.nav-link {
  @apply ml-3 text-gray-400 cursor-default;
}

.post-item .post-item-date {
  @apply text-sm text-gray-300;
}
.post-item .post-item-more {
  @apply ml-1 text-gray-600;
}
.post-item .post-item-desc {
  margin-bottom: 0.5em;
  @apply text-gray-400;
}
.post-item .post-item-title {
  @apply no-underline;
  color: unset;
}
ul.nextra-post-list {
  @apply pl-0;
}

code {
  @apply bg-black bg-opacity-5 border border-black border-opacity-5 rounded-md;
  font-size: 0.9em;
  padding: 2px 0.25em;
  box-decoration-break: clone;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  .dark & {
    @apply bg-white bg-opacity-10 border-white border-opacity-10;
  }
}
pre {
  /* content-visibility: auto; */
  contain: paint;
  @apply p-4 bg-slate-100 rounded-xl mt-6 mb-4 overflow-x-auto font-medium subpixel-antialiased;
  @apply dark:bg-gray-300 dark:bg-opacity-10;
  code {
    line-height: 1.25rem;
    @apply relative p-0 text-sm text-current bg-transparent dark:bg-transparent rounded-none border-none inline-block min-w-full;
    .line.highlighted {
      @apply before:block before:absolute before:h-5 before:bg-gray-500 before:bg-opacity-10 before:-inset-x-4 before:pointer-events-none before:select-none;
      span {
        @apply relative;
      }
    }
  }
}
a code {
  @apply text-current no-underline;
}
[data-nextra-code][data-filename] {
  @apply block relative;

  &::before {
    content: attr(data-filename);
    position: absolute;
    @apply absolute truncate top-0 z-[1] text-xs py-2 px-4 w-full text-gray-700 bg-slate-200 dark:bg-gray-700 dark:text-gray-200 rounded-t-xl;
  }
  pre {
    @apply pt-12;
  }
}

:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #f00;
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}
