.nextra-code span {
  @apply _bg-[--shiki-light-bg] _text-[--shiki-light];
  @apply dark:_bg-[--shiki-dark-bg] dark:_text-[--shiki-dark];
}

code:not([class*='twoslash-']) {
  box-decoration-break: slice;
  font-feature-settings:
    'rlig' 1,
    'calt' 1,
    'ss01' 1;

  :not(pre) > & {
    @apply _border-black _border-opacity-[0.04] _bg-opacity-[0.03] _bg-black _break-words _rounded-md _border _py-0.5 _px-[.25em] _text-[.9em];
    @apply dark:_border-white/10 dark:_bg-white/10;
  }
}

pre code:not([class*='twoslash-']) {
  @apply _grid _text-sm;

  &[data-line-numbers] > span {
    @apply _pl-2;

    &::before {
      counter-increment: line;
      content: counter(line);
      @apply _float-left _pr-4 _text-right _min-w-[2.6rem] _text-gray-500;
    }
  }

  & > span {
    @apply _px-4;

    &[data-highlighted-line] {
      @apply _bg-primary-600/10 dark:_bg-primary-600/20 !_text-primary-600/80 _shadow-[2px_0_currentColor_inset];
    }

    [data-highlighted-chars] {
      @apply _rounded-sm _ring-2 _ring-primary-600/20 dark:_ring-primary-600/40;
      @apply _bg-primary-600/20 dark:_bg-primary-600/40;
    }
  }

  html[data-nextra-word-wrap] & {
    @apply max-md:_whitespace-pre-wrap;
  }
}

.nextra-copy-icon {
  animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ===== Basic ===== */
:root {
  --twoslash-border-color: #8888;
  --twoslash-underline-color: currentColor;
  --twoslash-highlighted-border: #c37d0d50;
  --twoslash-highlighted-bg: #c37d0d20;
  --twoslash-popup-bg: #f8f8f8;
  --twoslash-popup-color: inherit;
  --twoslash-popup-shadow: rgba(0, 0, 0.08) 0px 1px 4px;
  --twoslash-docs-color: #888;
  --twoslash-docs-font: sans-serif;
  --twoslash-code-font: inherit;
  --twoslash-code-font-size: 1em;
  --twoslash-matched-color: inherit;
  --twoslash-unmatched-color: #888;
  --twoslash-cursor-color: #8888;
  --twoslash-error-color: #d45656;
  --twoslash-error-bg: #d4565620;
  --twoslash-tag-color: #3772cf;
  --twoslash-tag-bg: #3772cf20;
  --twoslash-tag-warn-color: #c37d0d;
  --twoslash-tag-warn-bg: #c37d0d20;
  --twoslash-tag-annotate-color: #1ba673;
  --twoslash-tag-annotate-bg: #1ba67320;
}

.dark {
  --twoslash-popup-bg: #000;
  --twoslash-border-color: #404040;
}

/* Respect people's wishes to not have animations */
@media (prefers-reduced-motion: reduce) {
  .twoslash * {
    transition: none !important;
  }
}

/* ===== Hover Info ===== */
.twoslash:hover .twoslash-hover {
  border-color: var(--twoslash-underline-color);
}

.twoslash-hover {
  border-bottom: 1px dotted transparent;
  transition-timing-function: ease;
  transition: border-color 0.3s;
  position: relative;
}

.twoslash-popup-container {
  @apply _inline-flex _flex-col _opacity-0 _absolute _transition-opacity _duration-300 _z-10 _mt-1.5 _rounded;
  transform: translateY(1.1em);
  background: var(--twoslash-popup-bg) !important;
  color: var(--twoslash-popup-color);
  border: 1px solid var(--twoslash-border-color);
  pointer-events: none;
  user-select: none;
  text-align: left;
  /*box-shadow: var(--twoslash-popup-shadow);*/
}

.twoslash-query-presisted .twoslash-popup-container {
  z-index: 9;
  transform: translateY(1.5em);
}

.twoslash-hover:hover .twoslash-popup-container,
.twoslash-query-presisted .twoslash-popup-container {
  opacity: 1;
  pointer-events: auto;
}

.twoslash-popup-container:hover {
  user-select: auto;
}

.twoslash-popup-arrow {
  @apply _absolute _-top-1 _border-t _border-r _size-1.5 _-rotate-45;
  @apply _border-[--twoslash-border-color] _bg-[--twoslash-popup-bg];
  left: 1em;
  pointer-events: none;
}

.twoslash-popup-code,
.twoslash-popup-docs {
  padding: 6px 8px;
}

.twoslash-popup-code {
  font-family: var(--twoslash-code-font);
  font-size: var(--twoslash-code-font-size);
}

.twoslash-popup-docs {
  color: var(--twoslash-docs-color);
  font-family: var(--twoslash-docs-font);
  font-size: 0.8em;
  border-top: 1px solid var(--twoslash-border-color);
}

.twoslash-popup-docs-tags {
  display: flex;
  flex-direction: column;
  font-family: var(--twoslash-docs-font);
}

.twoslash-popup-docs-tags,
.twoslash-popup-docs-tag-name {
  margin-right: 0.5em;
}

.twoslash-popup-docs-tag-name {
  font-family: var(--twoslash-code-font);
}

/* ===== Error Line ===== */
.twoslash-error-line {
  position: relative;
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
  padding: 6px 12px;
  margin: 0.2em 0;
}

.twoslash-error {
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23c94824'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
    repeat-x bottom left;
  padding-bottom: 2px;
}

/* ===== Completeions ===== */
.twoslash-completion-cursor {
  position: relative;
}

.twoslash-completion-cursor .twoslash-completion-list {
  @apply _absolute _left-0 _border _top-1 _rounded;
  transform: translate(0, 1.2em);
  background: var(--twoslash-popup-bg);
  border-color: var(--twoslash-border-color);
}

.twoslash-completion-list {
  @apply _py-1 _px-2 _w-60;
  font-size: 0.8rem;
}

.twoslash-completion-list:hover {
  user-select: auto;
}

.twoslash-completion-list::before {
  background-color: var(--twoslash-cursor-color);
  width: 2px;
  position: absolute;
  top: -1.6em;
  height: 1.4em;
  left: -1px;
  content: ' ';
}

.twoslash-completion-list li {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.25em;
  line-height: 1em;
}

.twoslash-completion-list li span.twoslash-completions-unmatched {
  color: var(--twoslash-unmatched-color);
}

.twoslash-completion-list .deprecated {
  text-decoration: line-through;
  opacity: 0.5;
}

.twoslash-completion-list li span.twoslash-completions-matched {
  color: var(--twoslash-matched-color);
}

/* Highlights */
.twoslash-highlighted {
  background-color: var(--twoslash-highlighted-bg);
  border: 1px solid var(--twoslash-highlighted-border);
  padding: 1px 2px;
  margin: -1px -3px;
  border-radius: 4px;
}

/* Icons */
.twoslash-completion-list .twoslash-completions-icon {
  color: var(--twoslash-unmatched-color);
  width: 1em;
  flex: none;
}

/* Custom Tags */
.twoslash-tag-line {
  position: relative;
  background-color: var(--twoslash-tag-bg);
  border-left: 3px solid var(--twoslash-tag-color);
  color: var(--twoslash-tag-color);
  padding: 6px 10px;
  margin: 0.2em 0;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.twoslash-tag-line .twoslash-tag-icon {
  width: 1.1em;
  color: inherit;
}

.twoslash-tag-line.twoslash-tag-error-line {
  background-color: var(--twoslash-error-bg);
  border-left: 3px solid var(--twoslash-error-color);
  color: var(--twoslash-error-color);
}

.twoslash-tag-line.twoslash-tag-warn-line {
  background-color: var(--twoslash-tag-warn-bg);
  border-left: 3px solid var(--twoslash-tag-warn-color);
  color: var(--twoslash-tag-warn-color);
}

.twoslash-tag-line.twoslash-tag-annotate-line {
  background-color: var(--twoslash-tag-annotate-bg);
  border-left: 3px solid var(--twoslash-tag-annotate-color);
  color: var(--twoslash-tag-annotate-color);
}
