.nextra-code span {
  @apply _bg-[--shiki-light-bg] _text-[--shiki-light];
  @apply dark:_bg-[--shiki-dark-bg] dark:_text-[--shiki-dark];
}

code {
  box-decoration-break: slice;
  font-feature-settings:
    'rlig' 1,
    'calt' 1,
    'ss01' 1;

  :not(pre) > & {
    @apply _border-black _border-opacity-[0.04] _bg-opacity-[0.03] _bg-black _break-words _rounded-md _border _py-0.5 _px-[.25em] _text-[.9em];
    @apply dark:_border-white/10 dark:_bg-white/10;
  }
}

pre {
  code {
    @apply _grid _text-sm _leading-5 _text-current;

    &[data-line-numbers] > span {
      @apply _pl-2;
      &::before {
        counter-increment: line;
        content: counter(line);
        @apply _h-full _float-left _pr-4 _text-right _min-w-[2.6rem] _text-gray-500;
      }
    }

    & > span {
      @apply _px-4;

      &[data-highlighted-line] {
        @apply !_bg-primary-600/10 !_text-primary-600/50 _shadow-[2px_0_currentColor_inset];
      }
      [data-highlighted-chars] {
        @apply _rounded-sm _shadow-[0_0_0_2px_rgba(0,0,0,.3)];
        @apply _bg-primary-800/10 _shadow-primary-800/10;
        @apply dark:_bg-primary-300/10 dark:_shadow-primary-300/10;
      }
    }
  }

  html[data-nextra-word-wrap] & {
    word-break: break-word;
    @apply _whitespace-pre-wrap md:_whitespace-pre;
  }
}

.nextra-copy-icon {
  animation: fade-in 0.3s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-button {
    @apply _backdrop-blur-md _bg-opacity-[.85] dark:_bg-opacity-80;
  }
}
