code {
  box-decoration-break: clone;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;

  &[data-line-numbers] > .line {
    @apply inline-flex pl-2;
    &::before {
      counter-increment: line;
      content: counter(line);
      @apply h-full float-left pr-4 text-right min-w-[2.6rem] text-gray-500;
    }
  }

  .line {
    &.highlighted {
      @apply border-primary-600/60 bg-primary-600/10;
    }
    .highlighted {
      @apply rounded-sm shadow-[0_0_0_3px_rgba(0,0,0,.3)];
      @apply bg-primary-800/10 shadow-primary-800/10;
      @apply dark:bg-primary-300/10 dark:shadow-primary-300/10;
    }
  }
}

pre {
  /* content-visibility: auto; */
  contain: paint;
  code {
    @apply grid min-w-full rounded-none border-none !bg-transparent !p-0 text-sm leading-5 text-current dark:!bg-transparent;
    .line {
      @apply border-l-2 border-transparent px-4;
    }
  }

  html[data-nextra-word-wrap] & {
    word-break: break-word;
    @apply whitespace-pre-wrap md:whitespace-pre;
    .line {
      @apply inline-block;
    }
  }
}

[data-rehype-pretty-code-fragment] {
  @apply relative;
}

@supports (
  (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
) {
  .nextra-button {
    @apply backdrop-blur-md bg-opacity-[.85] dark:bg-opacity-80;
  }
}
