.nextra-scrollbar {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

/* Hide scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    @apply x:hidden; /* Chrome, Safari and Opera */
  }
}
