.nextra-steps {
  --counter-bg: var(--x-color-gray-100);

  h2,
  h3,
  h4,
  h5,
  h6 {
    counter-increment: var(--counter-id);
    /* resets from nextra-theme-docs */
    @apply x:border-0 x:pb-0 x:font-semibold x:tracking-tight x:mt-8 x:text-2xl;

    &:before {
      @apply x:absolute x:size-[33px];
      @apply x:border-4 x:border-nextra-bg;
      /* @apply x:bg-gray-100 x:dark:bg-neutral-800; */
      @apply x:rounded-full x:text-neutral-400 x:text-base x:font-normal x:text-center x:-indent-px;
      @apply x:mt-[3px] x:ms-[-41px];
      content: counter(var(--counter-id));
      background: var(--counter-bg);
    }
  }
}

.dark .nextra-steps {
  --counter-bg: var(--x-color-neutral-800);
}
