.subheading-anchor {
  @apply absolute;

  & + a {
    @apply text-current no-underline hover:after:opacity-100;
  }

  & + a:after {
    @apply absolute /* for not including # in focus ring border */;
    @apply content-['#'] text-gray-300 px-2 opacity-0 transition-opacity;
    @apply dark:text-neutral-700;
  }

  &:target + a:after {
    @apply text-gray-400 opacity-100;
    @apply dark:text-neutral-500;
  }
}
