@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'nextra/styles/variables.css';
@import 'nextra/styles/code-block.css';
@import 'nextra/styles/subheading-anchor.css';
:root {
  --nextra-primary-hue: 212deg;
}

.dark {
  --nextra-primary-hue: 204deg;
}

html {
  @apply antialiased text-base;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply w-full bg-white dark:bg-dark dark:text-gray-100;
}

a {
  @apply text-primary-500 underline;
  text-underline-position: under;
  text-decoration-thickness: from-font;
}
p {
  @apply leading-7;
}

.nextra-container {
  /* Navbar */
  .nextra-nav-container {
    a,
    summary {
      &:focus, &:focus-visible {
        @apply select-none outline-none;
      }
      &:focus-visible {
        @apply ring ring-primary-200;
      }
    }

    .nextra-nav-container-blur {
      z-index: -1;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02),
        0 -1px 0 rgba(0, 0, 0, 0.06) inset;
      .dark & {
        box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
      }
    }
    @media (prefers-contrast: more) {
      .nextra-nav-container-blur {
        box-shadow: 0 0 0 1px black;
        .dark & {
          box-shadow: 0 0 0 1px white;
        }
      }
    }
    @supports (
      (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
    ) {
      .nextra-nav-container-blur {
        @apply backdrop-blur-md bg-opacity-[.85] dark:bg-opacity-80;
      }
    }

    .nextra-nav-link {
      @apply text-sm;
    }
    .nextra-menu-icon {
      @apply select-none rounded outline-none;
      @apply active:bg-gray-400/20;
    }
    .nextra-menu-icon svg {
      g {
        transform-origin: center;
        transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1);
      }
      path {
        opacity: 1;
        transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1) 0.2s,
          opacity 0.2s ease 0.2s;
      }
      &.open {
        path {
          transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1),
            opacity 0s ease 0.2s;
        }
        g {
          transition: transform 0.2s cubic-bezier(0.25, 1, 0.5, 1) 0.2s;
        }
      }
      &.open > {
        path {
          opacity: 0;
        }
        g:nth-of-type(1) {
          transform: rotate(45deg);
          path {
            transform: translate3d(0, 6px, 0);
          }
        }
        g:nth-of-type(2) {
          transform: rotate(-45deg);
          path {
            transform: translate3d(0, -6px, 0);
          }
        }
      }
    }
  }

  .nextra-sidebar-container {
    mask-image: linear-gradient(to bottom, transparent, #000 20px),
      linear-gradient(to left, #000 10px, transparent 10px);

    &.with-menu.nextra-scrollbar::-webkit-scrollbar-track {
      margin-bottom: 76px;
    }
  }

  /* Sidebar */
  .nextra-sidebar {
    -webkit-touch-callout: none;
    ul {
      a:focus-visible,
      button:focus-visible {
        @apply ring ring-primary-200;
      }
      li.active > a,
      li.active > a:hover {
        @apply bg-primary-50 font-bold text-primary-500;
        @apply dark:bg-primary-500/10 dark:text-primary-500;
      }
      @media (prefers-contrast: more) {
        li.active > a {
          @apply border border-primary-500 dark:border-primary-500;
        }
      }
      button,
      summary,
      li a {
        @apply mt-1 block w-full select-none rounded px-2 py-1.5 text-sm text-gray-500 no-underline outline-none transition-[background-color];
        @apply dark:text-neutral-500;
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
        &:hover {
          @apply bg-gray-100 text-gray-900;
          @apply dark:bg-primary-100/5 dark:text-gray-50;
        }
        @media (prefers-contrast: more) {
          & {
            @apply border border-transparent text-gray-900 hover:border-gray-900;
            @apply dark:text-gray-50 dark:hover:border-gray-50;
          }
        }
      }
      ul {
        @apply relative dark:border-neutral-800;
        @apply ltr:md:border-l ltr:pl-3 ltr:ml-1 rtl:md:border-r rtl:pr-3 rtl:mr-1;
      }
    }
    .nextra-sidebar-search {
      @apply sticky top-0 -mt-4 bg-white pt-4 dark:bg-dark;
      box-shadow: 0 2px 14px 6px white;
      z-index: 1;
      .dark & {
        box-shadow: 0 2px 14px 6px #111;
      }
    }

    .nextra-sidebar-menu {
      @apply sticky bottom-0;
      @media (prefers-contrast: more) {
        & {
          box-shadow: none;
          border-top: 1px solid #999;
        }
      }
    }
  }

  .nextra-scrollbar {
    scrollbar-gutter: stable;
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      margin-top: 20px;
      margin-bottom: 16px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0);
      border-radius: 20px;
    }
    &:hover::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.2);
      &:hover {
        box-shadow: inset 0 0 0 5px rgba(128, 128, 128, 0.4);
      }
    }
  }
}

@media (max-width: 767px) {
  article:before {
    @apply content-[''] fixed top-0 left-0 right-0 pointer-events-none opacity-0 bg-black;
    bottom: -200px;
    transition: opacity 1.5s ease;
    z-index: 14;
    .nextra-container.menu-active & {
      opacity: 0.8;
    }
  }
  .nextra-sidebar-container {
    @apply h-screen opacity-0 top-0 overscroll-contain bg-white pt-16 dark:bg-dark;
    height: -webkit-fill-available;
    transform: translate3d(0, -110%, 0);
    transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1),
      opacity 0s linear 1s;
    will-change: transform, opacity;
    contain: layout style;
    backface-visibility: hidden;

    &.open {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition: transform 0.8s cubic-bezier(0.52, 0.16, 0.04, 1);
    }
    body.resizing & {
      transition: none;
    }
  }
  .nextra-banner-container ~ div {
    .nextra-sidebar-container {
      @apply pt-[6.5rem];
    }
    &.nextra-nav-container {
      @apply top-10 md:top-0;
    }
  }
  .nextra-banner-hidden .nextra-banner-container ~ div .nextra-sidebar-container {
    @apply pt-16;
  }
  .nextra-banner-hidden div.nextra-nav-container {
    @apply top-0;
  }
  .nextra-container .nextra-scrollbar {
    scrollbar-gutter: auto;
  }
}

@media (prefers-reduced-motion: reduce) and (max-width: 767px) {
  article:before {
    transition: none;
  }
  .nextra-sidebar-container {
    transition: none;
    &.open {
      transition: none;
    }
  }
}

@media (prefers-contrast: more) {
  .nextra-toc-meta {
    box-shadow: none;
    border-top: 1px solid #999 !important;
    a {
      @apply text-gray-800 dark:!text-gray-50;
    }
  }
  article h2 {
    border-color: #999 !important;
  }
  .nextra-nav-container nav .nextra-nav-link {
    @apply text-gray-700 dark:text-gray-100;
    &.active {
      @apply font-bold;
    }
  }
  article pre {
    @apply border border-primary-900/20 contrast-150 dark:border-primary-100/40;
  }
  .nextra-callout {
    @apply border-current dark:!border-current;
  }
  .nextra-search {
    ul {
      @apply border border-gray-900 dark:border-gray-50;
      div.nextra-search-section {
        @apply border-gray-600 text-gray-900 dark:border-gray-50 dark:text-gray-50;
      }
      li {
        @apply border border-transparent;
        .excerpt {
          @apply dark:text-gray-50;
        }
      }
      li.active {
        @apply border border-primary-500;
      }
    }
  }
  .nextra-navigation-links {
    border-color: #999 !important;
  }
  .nextra-breadcrumb {
    @apply text-current;
    .active {
      @apply font-bold !text-current;
    }
  }
  .nextra-toc ul li a {
    @apply text-gray-900 underline dark:text-gray-50;
    &[aria-selected='true'] {
      @apply text-primary-500;
    }
  }
}

/* Content Typography */
article {
  min-height: calc(100vh - 64px);
  details > summary {
    &::-webkit-details-marker {
      @apply hidden;
    }
    &::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='h-5 w-5' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z' clip-rule='evenodd' /%3E%3C/svg%3E");
      height: 1.2em;
      width: 1.2em;
      vertical-align: -4px;
    }
  }

  /* Typesettings */
  &.nextra-body-typesetting-article {
    font-size: 17px;
    font-feature-settings: 'rlig' 1, 'calt' 1;
    h1 {
      @apply mt-6 mb-4 text-center;
      font-size: 2.5rem;
    }
    h2 {
      @apply border-none;
    }
    a {
      @apply no-underline hover:underline;
    }
    p {
      @apply leading-8;
    }
    code {
      @apply border-none dark:bg-neutral-700;
    }
    pre code {
      @apply dark:bg-transparent;
    }
    .subheading-anchor + a {
      @apply no-underline hover:no-underline after:hidden;
    }
  }
}

.nextra-toc {
  .nextra-toc-content {
    mask-image: linear-gradient(to bottom, transparent, #000 20px),
      linear-gradient(to left, #000 10px, transparent 10px);
  }
  ul {
    @apply m-0 list-none break-words;
    hyphens: auto;
    @apply first:mt-0;
  }
  li {
    @apply my-2;
  }
}

/* Search */
.nextra-search {
  &.nextra-flexsearch ul {
    @apply overflow-auto w-screen min-h-[100px];
    @apply ltr:right-0 rtl:left-0;
    max-height: min(calc(100vh - 5rem - env(safe-area-inset-bottom)), 400px);
    max-width: min(calc(100vw - 2rem), calc(100% + 20rem));
    transition: max-height 0.2s ease;
  }
  ul {
    a {
      scroll-margin: 50px;
    }

    /* Using bg-white as background-color when the browser didn't support backdrop-filter */
    @apply bg-white text-gray-100 ring-1 ring-black/5;
    @apply dark:bg-neutral-900 dark:ring-white/10;
    li {
      @apply mx-2.5 break-words rounded-md px-2.5 py-2 text-gray-800;
      @apply dark:text-gray-300;
      .highlight {
        @apply text-primary-500 underline decoration-primary-400;
      }
    }
    li.active,
    a:focus li {
      @apply bg-primary-400/10 text-primary-500;
      @apply dark:bg-primary-500/10;
    }
    .nextra-search-section {
      @apply border-b border-black/10;
      @apply dark:border-white/20;
    }
  }
  @supports (
    (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
  ) {
    ul {
      @apply bg-opacity-70 backdrop-blur-lg;
      @apply dark:bg-opacity-80;
    }
  }
}

@media screen and (max-width: 767px) {
  .nextra-search .excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .nextra-search.nextra-flexsearch ul {
    max-height: min(calc(50vh - 11rem - env(safe-area-inset-bottom)), 400px);
  }
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.contains-task-list {
  @apply ml-0 list-none;
}

.contains-task-list input[type='checkbox'] {
  @apply mr-1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.nextra-banner-hidden .nextra-banner-container {
  display: none;
}
