@tailwind base;

html {
  @apply antialiased;
  font-size: 16px;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
  -webkit-tap-highlight-color: transparent;
}
body {
  @apply bg-white;
}
.dark body {
  @apply bg-dark text-gray-100;
}

a {
  @apply text-prime-500 underline;
  text-underline-position: under;
}
p {
  @apply leading-7;
}
p:not(:first-child),
blockquote:not(:first-child),
.table-container:not(:first-child) {
  @apply mt-6;
}

@tailwind components;
@tailwind utilities;

.main-container {
  min-height: var(--vh);
}

.sidebar {
  @apply select-none;
  ul ul {
    @apply ml-5 relative;
  }
  ul {
    a:focus-visible,
    button:focus-visible {
      @apply ring ring-prime-200;
    }
    .active-anchor {
      @apply font-semibold text-gray-900;
      @apply dark:text-white;
    }
    li.active > a,
    li.active > a:hover {
      @apply font-bold text-prime-500 bg-prime-50;
      @apply dark:text-prime-500 dark:bg-prime-500 dark:bg-opacity-10;
    }
    button,
    summary,
    li a {
      @apply block w-full text-left text-sm no-underline text-gray-700 mt-1 px-2 py-1.5 rounded select-none outline-none transition-colors;
      @apply dark:text-gray-400;
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      &:hover {
        @apply text-gray-900 bg-gray-100;
        @apply dark:text-gray-50 dark:bg-prime-100 dark:bg-opacity-5;
      }
    }
  }
  .locale .menu {
    @apply right-0;
  }
}

/* Content Typography */
article {
  &.full {
    width: 100%;
    min-height: calc(100vh - 64px);
    &.expand {
      width: 100vw;
      margin: 0 calc(50% - 50vw);
    }
  }
  h1 {
    @apply text-4xl font-bold tracking-tight mt-2;
  }
  h2 {
    @apply text-3xl font-semibold tracking-tight mt-10;
    @apply pb-1 border-b;
    .dark & {
      @apply border-prime-100 border-opacity-10;
    }
  }
  h3 {
    @apply text-2xl font-semibold tracking-tight mt-8;
  }
  h4 {
    @apply text-xl font-semibold tracking-tight mt-8;
  }
  h5 {
    @apply text-lg font-semibold tracking-tight mt-8;
  }
  h6 {
    @apply text-base font-semibold tracking-tight mt-8;
  }
  ul {
    @apply list-disc ml-6 mt-6;
  }
  li {
    @apply mt-2;
  }
  ol {
    @apply list-decimal ml-6 mt-6;
  }
  blockquote {
    @apply italic pl-6 border-l-2 border-gray-300 text-gray-700;
    @apply dark:border-gray-700 dark:text-gray-400;
  }
  h2 a {
    @apply no-underline;
  }
  code {
    @apply bg-black bg-opacity-5 border border-black border-opacity-5 rounded-md;
    font-size: 0.9em;
    padding: 2px 0.25em;
    box-decoration-break: clone;
    font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1;
    .dark & {
      @apply bg-white bg-opacity-10 border-white border-opacity-10;
    }
  }
  pre {
    /* content-visibility: auto; */
    contain: paint;
    @apply p-4 bg-slate-100 rounded-xl mt-6 mb-4 overflow-x-auto font-medium subpixel-antialiased;
    @apply dark:bg-prime-300 dark:bg-opacity-10;
    code {
      line-height: 1.25rem;
      @apply relative p-0 text-sm text-current bg-transparent dark:bg-transparent rounded-none border-none inline-block min-w-full;
      .line.highlighted {
        @apply before:block before:absolute before:h-5 before:bg-gray-500 before:bg-opacity-10 before:-inset-x-4 before:pointer-events-none before:select-none;
        span {
          @apply relative;
        }
      }
    }
  }
  a code {
    @apply text-current no-underline;
  }
  [data-nextra-code][data-filename] {
    @apply block relative;

    &::before {
      content: attr(data-filename);
      position: absolute;
      @apply absolute truncate top-0 z-[1] text-xs py-2 px-4 w-full text-gray-700 bg-slate-200 dark:bg-gray-700 dark:text-gray-200 rounded-t-xl;
    }
    pre {
      @apply pt-12;
    }
  }
  hr {
    @apply my-8;
  }
  .dark & hr {
    @apply border-gray-900;
  }

  .subheading-anchor {
    margin-top: -84px;
    display: inline-block;
    position: absolute;
    width: 1px;
  }

  .subheading-anchor + a:hover .anchor-icon {
    opacity: 1;
  }
  .anchor-icon {
    opacity: 0;
    @apply ml-2 text-gray-300 select-none;
  }
  .dark & .anchor-icon {
    @apply text-gray-600;
  }
}

.nextra-container {
  /* Navbar */
  .nextra-nav-container {
    &:before {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02),
        0 -1px 0 rgba(0, 0, 0, 0.06) inset;
    }

    a:focus,
    summary:focus {
      @apply select-none outline-none;
    }
    a:focus-visible,
    summary:focus-visible {
      @apply ring ring-prime-200 select-none outline-none;
    }
  }
}

/* Search */
.nextra-search {
  input {
    @apply text-gray-900 bg-black bg-opacity-[.03];
    @apply dark:text-gray-300 dark:bg-gray-50 dark:bg-opacity-10;
    @apply dark:border-gray-800;
  }
  input::placeholder {
    @apply text-gray-400;
    @apply dark:text-gray-500;
  }
  &.nextra-flexsearch ul {
    @apply overflow-auto left-0 md:-left-80 md:right-0;
    min-height: 100px;
    max-height: min(calc(var(--vh) - 12.5rem), 600px);
    max-width: min(calc(100vw - 2rem), calc(100% + 20rem));
    transition: max-height 0.2s ease;
    width: 100vw;
  }
  ul {
    @apply rounded-xl backdrop-blur-lg bg-white bg-opacity-[.7] text-gray-100 ring-1 ring-black ring-opacity-5 overflow-hidden overscroll-contain shadow-xl list-none;
    li {
      @apply text-gray-800 break-words mx-2.5 px-2.5 py-2 rounded-md;
      .highlight {
        @apply underline decoration-prime-400 text-prime-500;
      }
    }
    li.active,
    a:focus li {
      @apply text-prime-500 bg-prime-400 bg-opacity-[.1];
    }
  }
  .dark & {
    ul {
      @apply bg-neutral-800 backdrop-blur-xl bg-opacity-60 text-gray-100 ring-white ring-opacity-10 divide-gray-200/10;
      li {
        @apply text-gray-300;
        .highlight {
          @apply underline decoration-prime-400 text-prime-500;
        }
      }
      li.active,
      a:focus li {
        @apply text-prime-500 bg-prime-500 bg-opacity-[.1];
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nextra-search .excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

/* Locale */
.locale-switch summary::-webkit-details-marker {
  content: '';
  display: none;
}
.locale-switch summary::marker {
  content: '';
  display: none;
}
.locale-switch[open] summary:before {
  content: ' ';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: block;
  cursor: default;
  background: transparent;
}
.locale-switch .locale-dropdown {
  position: absolute;
  z-index: 11;
}

/* Table */
table {
  @apply p-0;
}
table tr {
  @apply m-0 p-0 border-t border-gray-300;
  @apply dark:border-gray-600;
}
table tr:nth-child(2n) {
  @apply bg-gray-100;
  @apply dark:bg-gray-600 dark:bg-opacity-20;
}
table tr th {
  @apply font-semibold;
}
table tr th[align='center'],
table tr td[align='center'] {
  @apply text-center;
}
table tr th[align='right'],
table tr td[align='right'] {
  @apply text-right;
}
table tr th,
table tr td {
  @apply text-left;
  @apply m-0 px-4 py-2 border border-gray-300;
  @apply dark:border-gray-600;
}
.table-container {
  overflow: auto;
}

.contains-task-list {
  @apply list-none ml-0;
}

.contains-task-list input[type='checkbox'] {
  @apply mr-1;
}

/* RTL */
.nextra-container.rtl {
  direction: rtl;
  .sidebar ul ul {
    @apply mr-5 ml-0;
  }
  .sidebar button,
  .sidebar a {
    @apply text-right;
  }
  article blockquote {
    @apply pr-6 border-r-2 pl-0 border-l-0;
  }
}
.nextra-container:not(.rtl):not(.page) article.docs-container {
}
.nextra-container.rtl:not(.page) .docs-container {
}
@screen md {
  .nextra-container:not(.page) article.docs-container .bleed.full {
    margin-left: calc(-50vw + 50% + 8rem);
    margin-right: calc(-50vw + 50% + 8rem);
  }
  .nextra-container.page article.docs-container .bleed.full {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }
}
@screen xl {
  .nextra-container:not(.rtl):not(.page) article.docs-container .bleed.full {
    margin-left: calc(50% - 50vw + 16rem);
    margin-right: calc(50% - 50vw);
  }
  .nextra-container.rtl:not(.page) .docs-container .bleed.full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw + 16rem);
  }
  .nextra-container.page .docs-container .bleed.full {
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
  }
}
.nextra-container.rtl {
  code {
    direction: ltr;
  }
  .anchor-icon {
    @apply ml-0 mr-2 inline-block;
  }
  article ul,
  article ol {
    @apply ml-0 mr-6;
  }
  .sidebar {
    @apply md:border-l;
  }
}

:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: #22863a;
  --shiki-token-punctuation: #212121;
  --shiki-token-link: #22863a;
  --nextra-shiki-deleted: #f00;
  --nextra-shiki-inserted: #f00;
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  --shiki-token-parameter: #ff9800;
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: #ffab70;
}
