.home-content p {
  margin-top: 1.5rem;
  line-height: 1.75rem;
}

.home-content a {
  --tw-ring-color: hsl(var(--nextra-primary-hue) 100% 50%/0.3);
  --tw-text-opacity: 1;
  text-underline-position: under;
  text-decoration-line: underline;
  text-decoration-thickness: from-font;
  color: hsl(var(--nextra-primary-hue) 100% 50% / var(--tw-text-opacity));
}

figurecaption {
  font-size: 0.85rem;
  line-height: 1.5rem;
  display: block;
  text-align: center;
}
